player-connection-mode=Listen
player-connection-guid=3190851107
player-connection-debug=0
player-connection-project-name=Gaym
player-connection-ip=192.168.0.29
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=e8fc79c390ab4030a02cf3359a64b861
